/* Applying to all page style */
* {
    margin: 0;
    padding: 0;
}

/* SF Pixelate font source */
@font-face {
    font-family: "SF Pixelate";
    src: url(./assets/fonts/SF\ Pixelate.ttf);
}

body {
    background-color: black;
    font-family: "SF Pixelate", monospace;
}

.container {
    max-width: 70rem;
    margin: auto;
}

header {
    box-sizing: border-box;
    color: whitesmoke;
    text-align: center;
}

.title {
    font-size: 1.5rem;
    margin-top: 0;
    padding: 0.3rem;
}

/* Section background */
section {
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1rem;
}

.formcontainer {
    background-color: rgba(255, 250, 254, 0.767);
    border-radius: 2%;
    float: right;
    max-width: 20%;
    padding: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    line-height: 1.3rem;
}

main {
    font-family: "PT Mono", monospace;
    font-size: 0.8rem;
    line-height: 1.1rem;
}

/* Margin-bottom of two tags */
.mb {
    margin-bottom: 1rem;
}

/* Applying to both */
input,
select {
    border: none;
    border-radius: 0.4rem;
    box-sizing: border-box;
    font-family: monospace;
    letter-spacing: 0.3px;
    margin-bottom: 0.6rem;
    padding: 0.5rem;
    height: 2.2rem;
    width: 100%;
}

/* Erasing all browser arrow appearance to insert a custom arrow */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(./assets/arrow.png);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-size: 1.2rem;
}

/* Applying only on submit input */
input[type="submit"] {
    color: whitesmoke;
    font-family: "SF Pixelate", monospace;
    font-size: medium;
    font-weight: bolder;

}

/* Applying color on header and submit input */
header,
input[type="submit"] {
    background-color: rgb(144, 47, 224);
}

footer {
    background-color: #161616;
    box-sizing: border-box;
    color: white;
    padding: 3rem;
    text-align: center;
}

/* Pixelated picture */
#pic {
    border-radius: 2%;
    display: inline-block;
    max-width: 17rem;
}

article {
    display: inline-block;
    margin: auto;
    max-width: 40%;
    margin-left: 2rem;
    text-align: left;
}

h3 {
    font-family: "SF Pixelate", monospace;
    font-size: 1.7rem;
}

/* Applying only to article paragraphs */
article p {
    font-family: "PT Mono", monospace;
}

/* Applying to both article header and paragraphs */
h3,
article p {
    margin-bottom: 1rem;
}

/* Author message */
#excelsior {
    font-size: 0.8rem;
    color: #6e6d6d;
    ;
}

/* Responsive layout based on many screen sizes */
@media screen and (max-width:840px) {
    article {
        max-width: 45%;
    }

}

@media screen and (max-width: 730px) {

    .title {
        font-size: 1.8rem;
    }

    section {
        padding: 1.5rem;
    }

    .formcontainer {
        float: none;
        margin: auto;
        max-width: 40%;
    }

    article {
        margin-left: 0;
        max-width: 100%;
        text-align: justify;
    }

    h3 {
        margin-top: 1rem;
        text-align: center;
    }

}

@media screen and (max-width: 500px) {

    .title {
        font-size: 1.7rem;
    }

    .formcontainer {
        max-width: 50%;
    }
}

@media screen and (max-width: 420px) {

    .title {
        font-size: 1.6rem;
        padding-top: 0.3rem;
    }

    .formcontainer {
        max-width: 60%;
    }
}

@media screen and (max-width: 370px) {

    .title {
        font-size: 1.5rem;
    }

    .formcontainer {
        max-width: 60%;
    }

    #pic {
        max-width: 15rem;
    }

    article {
        font-size: 0.93rem;
    }

}

@media screen and (max-width: 350px) {

    .title {
        font-size: 1.3rem;
    }

    .formcontainer {
        max-width: 70%;
    }

    #pic {
        max-width: 13.5rem;
    }

    #excelsior {
        font-size: 0.6rem;
    }

}

@media screen and (max-width: 300px) {

    .title {
        font-size: 1.2rem;
    }

    .formcontainer {
        max-width: 90%;
    }

    h2 {
        font-size: 1rem;
    }

    footer {
        padding: 1.3rem;
    }

    #pic {
        max-width: 11.5rem;
    }

    article {
        font-size: 0.8rem;
    }

    #excelsior {
        font-size: 0.5rem;
    }

}

/* That's it, thanks for reading! */